
/*header*/
*{
    margin: 0;
    padding: 0;
}
.fl{
    float: right;
}
html,body{
    width: 100%;
    height: 100%;
    background: #fff;
}
.header{
    width: 100%;
    height: 140px;
    background: url("../images/header.png");
    background-size: cover;
    text-align: center;
    color: #fff;
}
.header img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: 30px;
}
/*address*/
.address{
    height: 60px;
    line-height: 60px;
}
.address p{
    padding-left: 15px;
}
.address_bg{
    height: 6px;
    background: #e8e8e8;
}
.address span{
    color: #4990E2;
}

/*content*/
.content{
    background: #fff;
    height: 500px;
}
.content .text{
    height: 60px;
    line-height: 60px;
    padding-left: 15px;
    border-bottom: 1px solid #ccc;
}
.content .content_bd{
    height: 220px;
    padding-left: 15px;
}
.content .content_bd_ct{
    border-left: 1px solid #ccc;
    padding: 15px 15px 0 15px;
    color: #A3A3A3;

}
.content .content_bd_ct p:nth-child(1){
    color: #000;
    font-size: 16px;
    font-weight: 600;
    position: relative;
}
.content .content_before:before{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #F3A31B;
    border-radius: 50%;
    position: absolute;
    left: -20px;
    top: 5px;

}
.content .color:before{
    background: #52D0C2;
}
.content .content_bd_ct p:nth-child(2){
    margin:15px 0 10px;
}

/*footer*/
.footer{
    width: 100%;
    text-align: center;
    color: #ccc;
    font-size: 20px;

}

.code{
    position: absolute;
    right: 10px;
    top: 170px;
}
.a{text-align:center;line-height: 40px;position: fixed;top: 0;left: 0;width: 100%;z-index: 10;border-bottom: 1px #ccc solid; background: #f50;color: #fff;}
.tab{display: flex;line-height: 40px;position: fixed;top: 40px;width: 100%;z-index: 10;border-bottom: 1px #ccc solid;}
.tab a{width: 33.333333%;background: #fff;text-align: center;}
.tab .active{border-bottom: 1px #f50 solid; color: #f50;}
.panel{margin: 0;}

.refreshtip {position: absolute;left: 0;width: 100%;margin: 10px 0;text-align: center;color: #999;}
.swiper-container{overflow: visible;}
.loadtip { display: block;width: 100%;line-height: 40px; height: 40px;text-align: center;color: #999;border-top: 1px solid #ddd;}
.swiper-container, .w{height: calc(100vh - 120px);}
.swiper-slide{height: auto;}

.text-center{text-align: center;}
.list-group{padding-left: 0;margin-bottom: 20px;}
.list-group-item{    position: relative; display: block;padding: 10px 15px;margin-bottom: -1px;background-color: #fff;border: 1px solid #ddd;}
.list-group-item:first-child {border-top-left-radius: 4px;border-top-right-radius: 4px;}
